Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

chore: Add `/ruly:compress` command documentation and update `.gitignore`
  .claude/commands/ruly/compress.md
  .gitignore
Due: prettier-markdown

chore: Ensure proper UTF-8 encoding for file operations and token counting
  lib/ruly/cli.rb
Due: rubocop

chore: Enhance CLI logic for command path and recipe handling
  lib/ruly/cli.rb
  spec/ruly/cli_spec.rb
Due: rubocop, rspec

lint
  .claude/commands/ruly/compress.md
  README.md
  TODO.md
  commands/snippets-to-scripts.md
  docs/omit_command_prefix.md
  workaxle/commands/core/tmp_task.md
Due: prettier-markdown

chore: Remove Atlassian and debugging workflow command documentation
  tmp/.claude/commands/atlassian/confluence/change-proposals.md
  tmp/.claude/commands/atlassian/jira/details.md
  tmp/.claude/commands/atlassian/jira/draft.md
  tmp/.claude/commands/debug/diagnose.md
  tmp/.claude/commands/debug/fix.md
  tmp/.claude/commands/debug/grpc.md
  tmp/.claude/commands/pr/create-branch.md
  tmp/.claude/commands/pr/create.md
  tmp/.claude/commands/pr/make-tests-green.md
  tmp/.claude/commands/pr/resolve-outdated-comments.md
  tmp/.claude/commands/pr/review-feedback-loop.md
  tmp/.claude/commands/services/grpc/start-server.md
  tmp/.claude/commands/testing/pre-commit.md
  tmp/.claude/commands/testing/require.md
  tmp/.claude/commands/workflow/just-do-it.md
  tmp/.keep
Due: prettier-markdown

chore: Remove `/diagnose-bug` command documentation
  commands/diagnose-bug.md
Due: prettier-markdown

chore: Add detailed command documentation for Atlassian tools and debugging workflows
  docs/omit_command_prefix.md
  lib/ruly/cli.rb
  spec/ruly/cli_spec.rb
  tmp/.claude/commands/atlassian/confluence/change-proposals.md
  tmp/.claude/commands/atlassian/jira/details.md
  tmp/.claude/commands/atlassian/jira/draft.md
  tmp/.claude/commands/debug/diagnose.md
  tmp/.claude/commands/debug/fix.md
  tmp/.claude/commands/debug/grpc.md
  tmp/.claude/commands/pr/create-branch.md
  tmp/.claude/commands/pr/create.md
  tmp/.claude/commands/pr/make-tests-green.md
  tmp/.claude/commands/pr/resolve-outdated-comments.md
  tmp/.claude/commands/pr/review-feedback-loop.md
  tmp/.claude/commands/services/grpc/start-server.md
  tmp/.claude/commands/testing/pre-commit.md
  tmp/.claude/commands/testing/require.md
  tmp/.claude/commands/workflow/just-do-it.md
Due: prettier-markdown, rubocop, rspec

chore: Strip `requires` field from YAML frontmatter during content processing
  lib/ruly/cli.rb
Due: rubocop

Remove comprehensive bug debugging and fixing commands.
  docs/omit_command_prefix.md
  lib/ruly/cli.rb
Due: prettier-markdown, rubocop

Add support for recipe tag scanning in CLI
  lib/ruly/cli.rb
  spec/ruly/cli_recipe_tags_spec.rb
Due: rubocop, rspec

feat: Add recipes frontmatter field and essential filtering
  lib/ruly/cli.rb
  spec/ruly/cli_essential_spec.rb
Due: rubocop, rspec

fix: Move general just-do-it to workaxle/workflow/commands
  .DS_Store
Due: none

chore: Update `.gitignore` to include logs, dependencies, environment files, and editor/OS-specific files
  .gitignore
Due: none

feat: Add -T flag to clean command to remove .taskmaster/ directory
  lib/ruly/cli.rb
Due: rubocop

chore: Remove obsolete task-related entries from `.gitignore`
  .gitignore
Due: none

docs: Add documentation for setting up Task Master with Claude Max Proxy
  docs/claude-code-proxy.md
  docs/omit_command_prefix.md
Due: prettier-markdown

chore: Fix formatting of `tasks/` entry in `.gitignore`
  .gitignore
Due: none

docs: Update CLAUDE.md with new guidelines for configuration and rules management
  CLAUDE.md
Due: prettier-markdown

docs: Add PRD for Recipe Subagents feature in Task Master integration
  .taskmaster/docs/subagents-feature-prd.md
  lib/ruly/cli.rb
  spec/ruly/cli_agent_recipes_spec.rb
Due: prettier-markdown, rubocop, rspec

feat: Add subagent processing and file generation from recipes
  lib/ruly/cli.rb
Due: rubocop

feat: Add recursive markdown file discovery and processing in `ruly` CLI
  CLAUDE.md
  lib/ruly/cli.rb
Due: prettier-markdown, rubocop

Update CLAUDE.md with ruly update reminder
  CLAUDE.md
Due: prettier-markdown
