Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

Add ready-for-qa.md to recipes with request-review.md
  recipes.yml
Due: prettier

Add `stats` command to generate file token statistics
  .gitignore
  lib/ruly/cli.rb
  lib/ruly/operations.rb
  lib/ruly/operations/base.rb
  lib/ruly/operations/stats.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

Update `stats` output to use clickable file links
  lib/ruly/operations/stats.rb
Due: rubocop

Fix recipe paths and remove broken recipes
  recipes.yml
Due: prettier

Update available MCP servers list
  .claude/ruly-recipes-mcp-patterns.md
Due: prettier-markdown

squash! refactor: rename jira/draft.md to jira/comment.md
  recipes.yml
Due: prettier

Add script path rewriting and stats orphan detection
  lib/ruly/cli.rb
  lib/ruly/operations/stats.rb
  spec/ruly/cli_scripts_copy_spec.rb
  spec/ruly/cli_scripts_spec.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

Add require_shell_commands frontmatter support
  lib/ruly/cli.rb
  spec/ruly/cli_require_shell_commands_spec.rb
Due: rubocop, rspec

Add core/essential directory to workaxle recipes
  recipes.yml
Due: prettier

Replace atlassian MCP with jira CLI for Jira operations
  .claude/ruly-recipes-mcp-patterns.md
  recipes.yml
Due: prettier, prettier-markdown

Restrict atlassian MCP to confluence/agile/spike recipes only
  recipes.yml
Due: prettier

Add `ruly mcp` command to generate .mcp.json
  README.md
  lib/ruly/cli.rb
  spec/ruly/cli_mcp_spec.rb
Due: prettier-markdown, rubocop, rspec

Add squash-and-merge command with preview workflow
  recipes.yml
Due: prettier

Add ms-teams:details command to recipes with dm.md
  recipes.yml
Due: prettier

Add full-context command to relevant recipes
  recipes.yml
Due: prettier

Add workaxle-merger recipe for PR merging and communications
  recipes.yml
Due: prettier

Streamline workaxle-bug/feature recipes and fix bin file copying
  lib/ruly/cli.rb
  recipes.yml
Due: prettier, rubocop

Ignore temporary files in `/tmp/` directory
  .gitignore
Due: none

Replace `/merge` with `/merge-to-develop` for PR workflows
  recipes.yml
Due: prettier

Add /merge-main-to-develop to recipes with merge commands
  recipes.yml
Due: prettier

Add `merger` and `comms` recipes (no code knowledge needed)
  recipes.yml
Due: prettier

Remove workaxle-merger recipe (replaced by merger + comms)
  recipes.yml
Due: prettier

Add /create-pr to workaxle-bug and workaxle-feature recipes
  recipes.yml
Due: prettier

Update TODO: Add plan for optional files in recipe syntax and CLI flags
  TODO.md
Due: prettier-markdown

Add YAML frontmatter requires support to stats orphan detection
  lib/ruly/operations/stats.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

Add recipe-based token count sections and statistics to output
  lib/ruly/operations/stats.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

Update paths for workaxle/pr → github/pr move
  .DS_Store
  .claude/commands/ruly/compress.md
  .claude/ruly-recipes-mcp-patterns.md
  docs/omit_command_prefix.md
  recipes.yml
  spec/ruly/cli_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

Update paths for rules reorganization, stats.md default location
  .claude/ruly-recipes-mcp-patterns.md
  .gitignore
  docs/omit_command_prefix.md
  lib/ruly/cli.rb
  recipes.yml
  spec/ruly/cli_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

Remove unused PR/comms commands from workaxle-orchestrator recipe
  recipes.yml
Due: prettier

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
