Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

style: Reorganize and clean up `.prettierrc.json`
  .prettierrc.json
Due: prettier

Add orchestrator guide for WorkAxle multi-service dev pattern
  bin/ruly
Due: none

feat(pr): Add dual comment workflow to request-review command
  .DS_Store
Due: none

feat: Complete all 8 WorkAxle optimizations for 85% token reduction
  recipes.yml
Due: prettier

feat: Add MCP server configuration to WorkAxle recipes
  recipes.yml
Due: prettier

refactor: Normalize file paths and expand globs in recipes.yml
  recipes.yml
Due: prettier

feat: Add WorkAxle review recipe with QA stage and MCP server configuration
  recipes.yml
Due: prettier

docs: Add guide for Ruly recipe patterns and MCP server configuration
  .claude/ruly-recipes-mcp-patterns.md
  CLAUDE.md
Due: prettier-markdown

"Remove unused Jira rules and workflow commands"
  recipes.yml
Due: prettier

feat: Add `workaxle-finalize` recipe for final testing and cleanup phase
  recipes.yml
Due: prettier

feat: Add `workaxle-atlassian` and `jira` recipes for Jira/Confluence integration
  recipes.yml
Due: prettier

Remove obsolete orchestrator role guidelines and documents
  recipes.yml
Due: prettier

feat: Add resolve-outdated-comments command to WorkAxle PR recipe
  recipes.yml
Due: prettier

chore: Remove `.ruly.yml` metadata handling and related logic
  .claude/commands/ruly/compress.md
  .gitignore
  .ruly.yml
  README.md
  lib/ruly/cli.rb
  spec/ruly/cli_agent_recipes_spec.rb
  spec/ruly/cli_shell_gpt_spec.rb
  spec/ruly/cli_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: Add `task-master-ai` MCP server to all WorkAxle recipes
  recipes.yml
Due: prettier

"Remove subagents feature PRD and add new Jira and LLMux docs
  .taskmaster/docs/subagents-feature-prd.md
  recipes.yml
Due: prettier, prettier-markdown

feat: Add `pr-create` command to WorkAxle PR recipe
  recipes.yml
Due: prettier

feat: Add `workaxle-spike` recipe for investigation and research tasks
  recipes.yml
Due: prettier

feat: Add `local` recipe for local development workflows
  recipes.yml
Due: prettier

feat: Add `grpc` command to WorkAxle recipe
  recipes.yml
Due: prettier

chore: Remove Task Master and PRD documentation
  .taskmaster/CLAUDE.md
  .taskmaster/docs/prd.txt
  .taskmaster/templates/example_prd.txt
  CLAUDE.md
Due: prettier-markdown

feat: Add script management via frontmatter in rules
  .taskmaster/docs/prd.txt
Due: none

chore: Update `.gitignore` to remove Task Master-related entries
  .gitignore
Due: none

chore: Add initial Task Master state and tasks JSON files
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
Due: prettier

feat: Add script management via frontmatter with TDD
  Gemfile
  Gemfile.lock
  lib/ruly/cli.rb
  spec/ruly/cli_scripts_spec.rb
Due: rubocop, rspec

feat: Integrate script management with squash command
  lib/ruly/cli.rb
Due: rubocop

feat: Add import command for script-only recipe loading
  lib/ruly/cli.rb
Due: rubocop

feat: Add workaxle-playwright recipe and remove pre-commit.md reference
  recipes.yml
Due: prettier

feat: Add Jira rules to workaxle-playwright recipe
  recipes.yml
Due: prettier

fix: Correct PR command filename from pr-create.md to create.md
  recipes.yml
Due: prettier

chore: Move .taskmaster directory to gitignore
  .gitignore
  .taskmaster/docs/prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
Due: prettier

feat: Add comprehensive script management and recipe system enhancements
  .DS_Store
  .claude/commands/ruly/compress.md
  .claude/ruly-recipes-mcp-patterns.md
  .gitignore
  .prettierrc.json
  .ruly.yml
  CLAUDE.md
  Gemfile
  Gemfile.lock
  README.md
  TODO.md
  bin/ruly
  commands/diagnose-bug.md
  commands/snippets-to-scripts.md
  docs/claude-code-proxy.md
  docs/omit_command_prefix.md
  lib/ruly/cli.rb
  recipes.yml
  spec/cli_bin_files_spec.rb
  spec/ruly/cli_agent_recipes_spec.rb
  spec/ruly/cli_essential_spec.rb
  spec/ruly/cli_recipe_tags_spec.rb
  spec/ruly/cli_requires_dedup_spec.rb
  spec/ruly/cli_requires_spec.rb
  spec/ruly/cli_scripts_spec.rb
  spec/ruly/cli_shell_gpt_spec.rb
  spec/ruly/cli_spec.rb
  tmp/.keep
  workaxle/commands/core/tmp_task.md
Due: prettier, prettier-markdown, rubocop, rspec

feat: Add comprehensive script management and recipe system enhancements
  recipes.yml
Due: prettier

feat: Add initiative and epic commands to workaxle-feature recipe
  recipes.yml
Due: prettier
