Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

Add skill file support to squash: detect, categorize, and save to .claude/skills/
  lib/ruly/cli.rb
  recipes.yml
Due: prettier, rubocop

Remove workaxle- prefix from all recipe names
  recipes.yml
Due: prettier

Convert fetching-pr-details from skill to rule file
  recipes.yml
Due: prettier

Update rules submodule: add debugging-patterns skill
  recipes.yml
Due: prettier

Add verify-develop-mergability command to recipes
  recipes.yml
Due: prettier

Update rules submodule: PR creation skill + command anchor rules
  CLAUDE.md
Due: prettier-markdown

Update rules submodule: add create-dual, refactor create-develop
  recipes.yml
Due: prettier

Fix grpc.md path in recipes after file relocation
  recipes.yml
Due: prettier

Clarify commit instruction to include all modified files
  CLAUDE.md
Due: prettier-markdown

feat: add /ruly:decompose command for splitting markdown files
  .claude/commands/ruly/decompose.md
Due: prettier-markdown

docs: add /ruly:decompose to README slash commands section
  README.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add /decompose command and update submodule
  .claude/commands/decompose.md
Due: prettier-markdown

docs: add /decompose to README slash commands section
  README.md
Due: prettier-markdown

refactor: consolidate decompose commands into /ruly:decompose
  .claude/commands/decompose.md
  .claude/commands/ruly/decompose.md
  README.md
Due: prettier-markdown

docs: add rules directory structure convention to CLAUDE.md
  CLAUDE.md
Due: prettier-markdown

docs: add directory structure convention to README
  README.md
Due: prettier-markdown

revert: remove directory structure convention (too restrictive)
  CLAUDE.md
  README.md
Due: prettier-markdown

docs: clarify skill creation process in CLAUDE.md
  CLAUDE.md
Due: prettier-markdown

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
