Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

feat: add bug-fix subagent recipe with TDD and verification
  recipes.yml
Due: prettier

feat: wire bug-diagnose and bug-fix subagents into bug recipe
  recipes.yml
Due: prettier

feat: add bug dispatch rules and /diagnose command to core recipe
  recipes.yml
Due: prettier

feat: add permit-io-schema.md to full recipe
  recipes.yml
Due: prettier

refactor: trim testing rules - remove 4 redundant files, reduce ~2,500 tokens
  recipes.yml
Due: prettier

refactor: update recipes for consolidated rspec testing rules
  recipes.yml
Due: prettier

feat: add core-debugging subagent recipe and dispatch rule
  recipes.yml
Due: prettier

fix: remove duplicate bug commands from parent recipe
  recipes.yml
Due: prettier

refactor: restructure core as slim dispatcher, absorb testing into feature
  CLAUDE.md
  docs/plans/2026-02-10-core-dispatcher-architecture.md
  recipes.yml
Due: prettier, prettier-markdown

fix: move PR commands from subagents to core orchestrator
  recipes.yml
Due: prettier

refactor: move context fetching from subagents to core orchestrator
  recipes.yml
Due: prettier

feat: propagate subagent MCP servers into parent .mcp.json during squash
  README.md
  lib/ruly/cli.rb
  recipes.yml
  spec/ruly/cli_mcp_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: wire merger subagent into core orchestrator
  recipes.yml
Due: prettier

feat: add add-core-subagent skill to core recipe
  recipes.yml
Due: prettier

fix: move add-core-subagent skill to .claude/commands
  .claude/commands/add-core-subagent.md
  recipes.yml
Due: prettier, prettier-markdown

feat: wire dashboard subagent into core orchestrator
  recipes.yml
Due: prettier

fix: add CLAUDE.local.md guard rule and update rules submodule
  CLAUDE.md
Due: prettier-markdown

feat: wire pr_readiness subagent into core orchestrator
  recipes.yml
Due: prettier

feat: wire architect subagent into core orchestrator
  recipes.yml
Due: prettier

feat: add reviewer recipe with reviewing-prs skill
  docs/plans/2026-02-11-pr-reviewer-skill.md
  recipes.yml
Due: prettier, prettier-markdown

fix: add WorkAxle standards files directly to reviewer recipe
  recipes.yml
Due: prettier

feat: wire reviewer subagent into core orchestrator
  recipes.yml
Due: prettier

feat: add PR readiness gates + squash verbose output
  README.md
  docs/plans/2026-02-11-squash-verbose-output.md
  lib/ruly/cli.rb
Due: prettier-markdown, rubocop

refactor: rename bug/feature/architect recipes to core-debugger/core-engineer/core-architect
  recipes.yml
Due: prettier

feat: add pr-readiness-chart command and update recipes
  docs/plans/2026-02-12-pr-readiness-chart.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add frontend orchestrator recipe for workaxle-desktop
  docs/plans/2026-02-12-frontend-orchestrator-recipe.md
  recipes.yml
Due: prettier, prettier-markdown

refactor: deduplicate debugging rules against superpowers:systematic-debugging
  docs/plans/2026-02-12-deduplicate-debugging-rules.md
  recipes.yml
Due: prettier, prettier-markdown

feat: extend omit_command_prefix to support arrays
  lib/ruly/cli.rb
  spec/ruly/cli_spec.rb
Due: rubocop, rspec

feat: add omit_command_prefix to all 17 recipes with command files
  recipes.yml
Due: prettier
