Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

refactor: extract Services::FrontmatterParser from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/frontmatter_parser.rb
Due: rubocop

refactor: extract Services::GitHubClient from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/github_client.rb
Due: rubocop

refactor: extract Services::DependencyResolver from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/dependency_resolver.rb
Due: rubocop

refactor: extract Services::ScriptManager from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/script_manager.rb
Due: rubocop

refactor: extract Services::MCPManager from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/mcp_manager.rb
Due: rubocop

refactor: extract Services::SubagentProcessor from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/subagent_processor.rb
Due: rubocop

refactor: extract Services::RecipeLoader from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/recipe_loader.rb
Due: rubocop

refactor: extract Operations::Analyzer from CLI
  lib/ruly/cli.rb
  lib/ruly/operations.rb
  lib/ruly/operations/analyzer.rb
Due: rubocop

refactor: extract Services::SourceProcessor from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/source_processor.rb
Due: rubocop

refactor: extract Services::TOCGenerator from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/toc_generator.rb
Due: rubocop

refactor: extract Services::RecipeIntrospector from CLI
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/recipe_introspector.rb
Due: rubocop

refactor: eliminate thin delegators, extract remaining CLI utilities
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/display.rb
  lib/ruly/services/git_ignore_manager.rb
  lib/ruly/services/recipe_loader.rb
  lib/ruly/services/shell_command_checker.rb
  lib/ruly/services/squash_helpers.rb
Due: rubocop

chore: add Ruby 4.0.1 support via mise and update dependencies
  Gemfile.lock
  mise.toml
Due: none

fix: pin BUNDLED WITH to 2.6.9 for Ruby 3.3 compatibility
  Gemfile.lock
Due: none

fix: make bin/ruly work without a satisfied bundle
  bin/ruly
Due: none

fix: use Bundler.setup instead of bundler/setup to allow rescue
  bin/ruly
Due: none

refactor: consolidate bug_fix and core_architect into core_engineer with SDD review
  docs/plans/2026-02-23-sdd-review-loop-for-engineer-dispatch.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add explicit skills/commands/bins recipe keys, remove path-based auto-detection
  docs/plans/2026-02-23-explicit-recipe-keys-for-skills-commands-bins.md
  lib/ruly/cli.rb
  lib/ruly/services/dependency_resolver.rb
  lib/ruly/services/display.rb
  lib/ruly/services/recipe_loader.rb
  lib/ruly/services/script_manager.rb
  lib/ruly/services/source_processor.rb
  lib/ruly/services/subagent_processor.rb
  recipes.yml
  spec/cli_bin_files_spec.rb
  spec/ruly/cli_dispatch_validation_spec.rb
  spec/ruly/cli_recipe_explicit_keys_spec.rb
  spec/ruly/cli_skills_frontmatter_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

docs: document explicit skills/commands/bins recipe keys in README
  README.md
Due: prettier-markdown

fix: add SDD reviewer templates to core recipe files for inlining
  recipes.yml
Due: prettier

feat: improve QA recipe with selector patterns and 93% token reduction
  docs/plans/2026-02-23-qa-recipe-live-testing.md
  recipes.yml
Due: prettier, prettier-markdown

docs: add terminology revamp design (recipe → profile)
  docs/plans/2026-02-23-terminology-revamp-design.md
Due: prettier-markdown

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

feat: skip inlining skill requires already present in profile
  lib/ruly/cli.rb
  lib/ruly/services/script_manager.rb
  lib/ruly/services/subagent_processor.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

feat: warn when skill requires are duplicated across multiple skills
  lib/ruly/checks.rb
  lib/ruly/checks/duplicate_skill_requires.rb
  lib/ruly/cli.rb
  spec/ruly/checks/duplicate_skill_requires_spec.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

fix: only dedup skill requires against top-level profile, not subagent profiles
  lib/ruly/cli.rb
  lib/ruly/services/subagent_processor.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

fix: skill requires should never inline — requires is a dependency declaration
  TODO.md
  lib/ruly/services/script_manager.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: prettier-markdown, rubocop, rspec

fix: skill requires add dependencies to profile instead of inlining into skills
  lib/ruly/checks/duplicate_skill_requires.rb
  lib/ruly/services/source_processor.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

fix: resolve subagent skill requires into profile (CLAUDE.local.md)
  lib/ruly/cli.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

docs: add implementation plans for skill requires dedup and pr-review-loop orchestrator
  docs/plans/2026-02-24-pr-review-loop-orchestrator-skill.md
  docs/plans/2026-02-24-skill-requires-deduplication.md
Due: prettier-markdown

fix: remove append_skill_requires_to_profile causing 64KB profile bloat
  lib/ruly/cli.rb
  spec/ruly/cli_skill_requires_dedup_spec.rb
Due: rubocop, rspec

refactor: split comms into per-platform subagent recipes
  recipes.yml
Due: prettier

refactor: update dispatch rules for per-platform comms subagents
  docs/plans/2026-02-24-pr-review-loop-orchestrator-skill.md
Due: prettier-markdown

fix: stats command outputs to cwd instead of gem install path
  lib/ruly/cli.rb
Due: rubocop

refactor: slim core recipe from 104KB to 58KB (44% reduction)
  docs/plans/2026-02-24-core-recipe-slim-down-plan.md
  docs/plans/2026-02-24-core-recipe-slim-down.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add resolve_extends! for profile inheritance
  lib/ruly/services/profile_loader.rb
  spec/ruly/cli_profile_extends_spec.rb
Due: rubocop, rspec

test: comprehensive coverage for profile extends feature
  spec/ruly/cli_profile_extends_spec.rb
Due: rubocop, rspec

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
