Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

docs: define v1 requirements
  .planning/REQUIREMENTS.md
Due: prettier-markdown

chore: Remove unused "superpowers" submodule from .gitmodules
  .gitmodules
Due: none

chore: Delete unused `recipes.yml` file and its recipe definitions
  lib/ruly/services/recipe_loader.rb
  recipes.example.yml
  recipes.yml
  ruly.gemspec
Due: prettier, rubocop

chore: Remove "rules" git submodule
  .gitmodules
Due: none

chore(recipes): fetch home/linux/media rules from patrickclery/rules via sources
  recipes.yml
Due: prettier

fix: require 'English' so $CHILD_STATUS works for remote GitHub fetches
  Gemfile.lock
  lib/ruly/services/github_client.rb
Due: rubocop

feat: support remote URLs in recipe files/skills/commands keys
  lib/ruly/services/recipe_loader.rb
  recipes.yml
Due: prettier, rubocop

fix(squash): fail loudly when an explicitly-listed source can't be read
  lib/ruly/cli.rb
  lib/ruly/services/source_processor.rb
  spec/ruly/source_processor_failure_spec.rb
Due: rubocop, rspec

feat: mirror shared recipes with `ruly squash --sync` and additive `overrides:`
  .claude/ruly-recipes-mcp-patterns.md
  CLAUDE.md
  README.md
  lib/ruly/cli.rb
  lib/ruly/operations/analyzer.rb
  lib/ruly/operations/stats.rb
  lib/ruly/services.rb
  lib/ruly/services/display.rb
  lib/ruly/services/github_client.rb
  lib/ruly/services/recipe_loader.rb
  lib/ruly/services/remote_sync.rb
  recipes.example.yml
  spec/ruly/cli_recipe_extends_spec.rb
  spec/ruly/cli_spec.rb
  spec/ruly/recipe_loader_chain_spec.rb
  spec/ruly/recipe_overrides_spec.rb
  spec/ruly/remote_sync_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

fix(sync): fall back to a shallow git clone when gh cannot fetch
  lib/ruly/services/github_client.rb
  lib/ruly/services/remote_sync.rb
  spec/ruly/remote_sync_spec.rb
Due: rubocop, rspec

feat: support remote URLs in recipe files/skills/commands keys
  lib/ruly/services/recipe_loader.rb
Due: rubocop

fix(sync): only abort on missing explicitly-listed files
  README.md
  lib/ruly/services/remote_sync.rb
  spec/ruly/remote_sync_spec.rb
Due: prettier-markdown, rubocop, rspec

fix(squash): fail loudly when an explicitly-listed source can't be read (#2)
  lib/ruly/cli.rb
  lib/ruly/services/source_processor.rb
  spec/ruly/source_processor_failure_spec.rb
Due: rubocop, rspec

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
