Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

Add `/use-context` command for loading pre-fetched data
  recipes.yml
Due: prettier

Add comms/commands/ directory to comms recipe (dashboard, use-context)
  recipes.yml
Due: prettier

Add instruction: 'commit' means both ruly repo and rules submodule
  CLAUDE.md
Due: prettier-markdown

Add --front-matter flag and clean up squash output
  lib/ruly/cli.rb
  spec/ruly/cli_essential_spec.rb
  spec/ruly/cli_front_matter_spec.rb
  spec/ruly/cli_recipe_tags_spec.rb
Due: rubocop, rspec

Add TODO: malformed frontmatter/markdown warnings
  TODO.md
Due: prettier-markdown

Exclude stats.md from statistics generation
  lib/ruly/operations/stats.rb
Due: rubocop

Add TODO: auto-exclude diff based on token count
  TODO.md
Due: prettier-markdown

Add TODO: --toon option for CLAUDE.local.md conversion
  TODO.md
Due: prettier-markdown

Update rules submodule: enforce `requires:` frontmatter for shared content dependencies
  .claude/commands/ruly/compress.md
Due: prettier-markdown

Update rules submodule: move full-context.md to comms/commands
  CLAUDE.md
  recipes.yml
Due: prettier, prettier-markdown

Update rules submodule: improve create-develop workflow
  recipes.yml
Due: prettier

Update rules submodule: move fix.md and diagnose.md to bug/commands
  recipes.yml
Due: prettier

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
