Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

refactor: update agile recipe to use new comms command paths
  recipes.yml
Due: prettier

docs: add isolate option documentation to README
  README.md
Due: prettier-markdown

fix: update remaining stale comms command paths in standalone recipes
  recipes.yml
Due: prettier

chore: ignore .claude/worktrees/ directory
  .gitignore
Due: none

refactor: stop propagating subagent commands to orchestrator context
  lib/ruly/services/subagent_processor.rb
  recipes.yml
Due: prettier, rubocop

refactor: remove pr_review_loop subagent and use-pr-review-loop from orchestrator
  recipes.yml
Due: prettier

fix: restore pr-review-loop skill to orchestrator (lean version)
  recipes.yml
Due: prettier

refactor: unify worktree rules and update recipes to shared paths
  recipes.yml
Due: prettier

chore: add workaxle-local and raid-luks-install skills to home recipe
  recipes.yml
Due: prettier

chore: update rules submodule — add deploy-workaxle-local-branch skill to home recipe
  recipes.yml
Due: prettier

chore: fix raid-luks-install skill path and trim trailing whitespace in recipes
  recipes.yml
Due: prettier

Add water-cooling skill to local recipe
  recipes.yml
Due: prettier

feat: rebuild core-engineer-skilled with zero subagents — all capabilities as direct skills
  recipes.yml
Due: prettier

feat: add qa-reporter subagent to orchestrator recipe
  recipes.yml
Due: prettier

fix: remove pr_review_loop subagent — orchestrator uses skill directly
  recipes.yml
Due: prettier

feat: add use-comms.md dispatch guard to 5 recipes
  recipes.yml
Due: prettier

feat: add isolate: true to core-engineer-skilled recipe
  recipes.yml
Due: prettier

feat: add cache mode toggle (RULY_CACHE_MODE) and /cache command
  docs/superpowers/plans/2026-03-18-cache-mode-toggle.md
  docs/superpowers/specs/2026-03-18-cache-mode-toggle-design.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add portfolio recipe to recipes.yml
  recipes.yml
Due: prettier

chore: run yalphabetize on recipes.yml to sort portfolio recipe alphabetically
  recipes.yml
Due: prettier

feat: add ready-for-qa recipe and register as subagent on core, core-solo, orchestrator
  recipes.yml
Due: prettier

feat: add /cache command to all recipes with context fetching
  recipes.yml
Due: prettier

chore: add project config
  .planning/config.json
Due: prettier

docs: initialize project
  .planning/PROJECT.md
Due: prettier-markdown

docs: create roadmap (1 phase)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  CLAUDE.md
Due: prettier-markdown

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier-markdown

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
