Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

docs: add array syntax for omit_command_prefix
  docs/omit_command_prefix.md
Due: prettier-markdown

feat: extract media-stack subagent from local recipe
  recipes.yml
Due: prettier

chore: remove homepage.md and recipe references
  recipes.yml
Due: prettier

fix: context-fetcher Teams support + pr-review-loop recipe
  recipes.yml
Due: prettier

feat: add QA acceptance testing recipe
  README.md
  docs/plans/2026-02-16-qa-recipe.md
  recipes.yml
Due: prettier, prettier-markdown

docs: add Fathom transcript fetcher implementation plan
  docs/plans/2026-02-17-fathom-transcript-fetcher.md
Due: prettier-markdown

docs: add sandbox testing environment plan
  docs/plans/2026-02-17-sandbox-testing-environment.md
Due: prettier-markdown

docs: add ready-or-not GitHub Marketplace Action design plan
  docs/plans/2026-02-17-ready-or-not-marketplace-action.md
Due: prettier-markdown

chore: update rules submodule and simplify orchestrator recipe
  recipes.yml
Due: prettier

Add deploy-pr-branch skill for PR environment deployments
  recipes.yml
Due: prettier

refactor: orchestrator dispatches directly to specialized subagents
  docs/plans/2026-02-18-orchestrator-direct-dispatch.md
  recipes.yml
Due: prettier, prettier-markdown

refactor: replace context-fetcher with context-grabber in all recipes
  recipes.yml
Due: prettier

docs: add plans for PR review fixer agent and contacts MCP
  TODO.md
Due: prettier-markdown

feat: add model specification for subagents and recipes
  lib/ruly/cli.rb
  spec/ruly/cli_model_spec.rb
Due: rubocop, rspec

docs: document model specification for subagents and recipes
  README.md
Due: prettier-markdown

docs: add model specification pattern to recipe patterns guide
  .claude/ruly-recipes-mcp-patterns.md
Due: prettier-markdown

fix: recursively process nested subagents during squash
  lib/ruly/cli.rb
  recipes.yml
Due: prettier, rubocop

feat: add mcpServers, skills frontmatter and nested subagent validation
  docs/plans/2026-02-19-agent-frontmatter-skills-mcpservers.md
  lib/ruly/cli.rb
  recipes.yml
  spec/ruly/cli_agent_recipes_spec.rb
  spec/ruly/cli_nested_subagent_validation_spec.rb
  spec/ruly/cli_rule_mcp_spec.rb
  spec/ruly/cli_skills_frontmatter_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: add ruly subagent with WorkAxle standards, TDD, and testing files
  recipes.yml
Due: prettier

style: auto-fix 447 rubocop offenses with rubocop -A
  lib/ruly/cli.rb
  lib/ruly/operations/stats.rb
  spec/ruly/cli_front_matter_spec.rb
  spec/ruly/cli_mcp_spec.rb
  spec/ruly/cli_model_spec.rb
  spec/ruly/cli_nested_subagent_validation_spec.rb
  spec/ruly/cli_require_shell_commands_spec.rb
  spec/ruly/cli_rule_mcp_spec.rb
  spec/ruly/cli_scripts_copy_spec.rb
  spec/ruly/cli_skills_frontmatter_spec.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

refactor: extract mcp method into smaller helper methods
  lib/ruly/cli.rb
Due: rubocop

style: fix method ordering in cli.rb per Obsession/MethodOrder
  lib/ruly/cli.rb
Due: rubocop

style: replace instance variables with let blocks in spec files
  spec/ruly/cli_rule_mcp_spec.rb
  spec/ruly/cli_skills_frontmatter_spec.rb
Due: rubocop, rspec

refactor: extract display_stats_result to fix MethodLength in stats method
  lib/ruly/cli.rb
Due: rubocop

refactor: fix rubocop offenses in stats.rb
  lib/ruly/operations/stats.rb
Due: rubocop

refactor: extract helpers to fix remaining 6 rubocop offenses in cli.rb
  lib/ruly/cli.rb
Due: rubocop

feat: dispatch validation, context-grabber split, dispatch rule reorganization
  docs/plans/2026-02-20-dispatch-validation-and-context-grabber-split.md
  lib/ruly/cli.rb
  recipes.yml
  spec/ruly/cli_dispatch_validation_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: compiled skills for on-demand loading, core-engineer-skilled recipe
  docs/plans/2026-02-20-skills-based-engineer-design.md
  lib/ruly/cli.rb
  recipes.yml
Due: prettier, prettier-markdown, rubocop

fix: auto-correct rubocop offenses in cli.rb
  lib/ruly/cli.rb
Due: rubocop
