Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

feat: Add workaxle-initiative-core recipe
  recipes.yml
Due: prettier

feat: Add workaxle-agile recipe with orchestrator patterns
  recipes.yml
Due: prettier

Add Confluence How-To guide and enhance PR commands inclusion
  bin/ruly
  recipes.yml
Due: prettier

Add home network structure rules for local development
  recipes.yml
Due: prettier

Update recipes and submodule with YAML fixes
  recipes.yml
Due: prettier

Consolidate LLMux setup guides and remove obsolete docs
  recipes.yml
Due: prettier

Simplify Jira command references in recipes file
  recipes.yml
Due: prettier

Update `recipes.yml` to include new WorkAxle file paths and orchestrator folder
  recipes.yml
Due: prettier

Add Bundler setup to `ruly` script for Gemfile dependency management
  bin/ruly
Due: none

Add workaxle-gateway recipe and relocate gateway rules
  recipes.yml
Due: prettier

Add `awesomer` recipe for local development with Plane and GitHub integration
  recipes.yml
Due: prettier

Add CRITICAL rule for markdown section references in squashed rules
  CLAUDE.md
Due: prettier-markdown

Update rules submodule with MS Teams DM command
  recipes.yml
Due: prettier

Add MS Teams DM command to workaxle-bug recipe
  recipes.yml
Due: prettier

Add post-squash validation for ambiguous markdown links
  lib/ruly.rb
  lib/ruly/checks.rb
  lib/ruly/checks/ambiguous_links.rb
  lib/ruly/checks/base.rb
  lib/ruly/cli.rb
  spec/ruly/checks/ambiguous_links_spec.rb
Due: rubocop, rspec

Update rules submodule - stricter health check (no fallbacks)
  spec/cli_bin_files_spec.rb
  spec/ruly/cli_essential_spec.rb
  spec/ruly/cli_recipe_tags_spec.rb
  spec/ruly/cli_requires_dedup_spec.rb
  spec/ruly/cli_requires_spec.rb
Due: rubocop, rspec

Refactor CLI spec to replace `@test_command` with `let` syntax
  spec/ruly/cli_spec.rb
Due: rubocop, rspec

Add Teams DM support to workaxle-agile recipe
  recipes.yml
Due: prettier

Remove github MCP server from all recipes
  recipes.yml
Due: prettier

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
