Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

test: add end-to-end squash integration test for extends
  spec/ruly/cli_profile_extends_spec.rb
Due: rubocop, rspec

docs: add extends: profile inheritance documentation
  README.md
Due: prettier-markdown

style: fix rubocop offenses in extends spec + add implementation plan
  docs/plans/2026-02-25-profile-extends.md
  spec/ruly/cli_profile_extends_spec.rb
Due: prettier-markdown, rubocop, rspec

fix(comms-github): wire comms_teams subagent into comms-github profile
  profiles.yml
Due: prettier

chore: add rule to re-squash core profile after changes
  CLAUDE.md
Due: prettier-markdown

fix(comms-github): remove invalid subagents from comms-github profile
  profiles.yml
Due: prettier

feat(comms-jira): add qa-report command to comms-jira profile, update CLAUDE.md squash reminder
  CLAUDE.md
  profiles.yml
Due: prettier, prettier-markdown

chore: replace public superpowers submodule with private mirror
  .gitmodules
Due: none

chore: revert superpowers submodule to obra/superpowers (public)
  .gitmodules
Due: none

feat: add WorktreeCreate hook support via SettingsManager and profile hooks
  lib/ruly/cli.rb
  lib/ruly/services.rb
  lib/ruly/services/settings_manager.rb
  profiles.yml
  spec/ruly/settings_manager_spec.rb
Due: prettier, rubocop, rspec

feat(core): add branch-lock to core profile and update rules submodule
  profiles.yml
Due: prettier

feat(orchestrator): add branch-lock, worktree-setup, and WorktreeCreate hook to profile
  profiles.yml
Due: prettier

feat(startup): add startup profile with 6 subagent roles
  profiles.yml
Due: prettier

feat(settings): add target_dir parameter to write_settings
  lib/ruly/services/settings_manager.rb
  spec/ruly/settings_manager_spec.rb
Due: rubocop, rspec

feat(settings): add propagate_hooks_to_subdirs for submodule hook setup
  lib/ruly/services/settings_manager.rb
  spec/ruly/settings_manager_spec.rb
Due: rubocop, rspec

feat(squash): propagate hooks and scripts to subagent cwd directories
  lib/ruly/cli.rb
Due: rubocop

feat(orchestrator): add cwd to subagents for hook propagation
  profiles.yml
Due: prettier

feat(repo-config): add RepoConfigReader for reading repo CLAUDE.md, rules, and hooks
  lib/ruly/services/repo_config_reader.rb
  spec/ruly/repo_config_reader_spec.rb
Due: rubocop, rspec

feat(subagents): add hooks support in agent frontmatter
  lib/ruly/services/subagent_processor.rb
  spec/ruly/subagent_hooks_spec.rb
Due: rubocop, rspec

feat(subagents): wire append to read repo CLAUDE.md, rules, and hooks into agent files
  lib/ruly/services/subagent_processor.rb
  spec/ruly/subagent_append_spec.rb
Due: rubocop, rspec

feat(orchestrator): add append: true to subagents for repo config merging
  profiles.yml
Due: prettier

fix: use require_relative for repo_config_reader in subagent_processor
  lib/ruly/services.rb
  lib/ruly/services/subagent_processor.rb
Due: rubocop

docs(readme): add Example Recipes section with multi-repo orchestrator pattern
  README.md
Due: prettier-markdown

feat(site): scaffold Next.js app with GitHub Pages deployment
  .github/workflows/deploy-site.yml
  .gitignore
  site/.gitignore
  site/README.md
  site/app/favicon.ico
  site/app/globals.css
  site/app/layout.tsx
  site/app/page.tsx
  site/eslint.config.mjs
  site/next.config.ts
  site/package-lock.json
  site/package.json
  site/postcss.config.mjs
  site/public/file.svg
  site/public/globe.svg
  site/public/next.svg
  site/public/vercel.svg
  site/public/window.svg
  site/tsconfig.json
Due: prettier, prettier-markdown

feat(site): add hero section with headline and subhead
  site/app/globals.css
  site/app/layout.tsx
  site/app/page.tsx
Due: none

feat(site): add Terminal, FileTree, and FilePreview components
  site/components/FilePreview.tsx
  site/components/FileTree.tsx
  site/components/Terminal.tsx
  site/lib/demo-data.ts
  site/lib/tree-data.ts
  site/package-lock.json
  site/package.json
Due: prettier

feat(site): wire up DemoSection and add feature highlights
  site/app/page.tsx
  site/components/DemoSection.tsx
Due: none

feat(site): visual polish — design system, glow effects, color-coded output
  site/app/globals.css
  site/app/page.tsx
  site/components/FilePreview.tsx
  site/components/FileTree.tsx
  site/components/Terminal.tsx
Due: none

fix(site): fix undefined line in Terminal colorForLine closure
  site/components/Terminal.tsx
Due: none

feat(site): replace split-panel with full-width terminal
  site/components/DemoSection.tsx
  site/components/FileTree.tsx
  site/components/Terminal.tsx
  site/lib/demo-data.ts
Due: none
