Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

Add bounce-investigator profile and skill documentation
  profiles.yml
Due: prettier

Add bounce-investigator profile, set comms subagents to sonnet
  profiles.yml
Due: prettier

feat(site): add demo types and data generator for interactive demo
  site/lib/demo-types.ts
  site/lib/generate-demo-data.ts
Due: none

feat(site): add InteractiveTerminal component with 3 questions
  site/components/InteractiveTerminal.tsx
Due: none

feat(site): add Explorer two-panel layout, update FileTree and FilePreview
  site/components/Explorer.tsx
  site/components/FilePreview.tsx
  site/components/FileTree.tsx
Due: none

feat(site): wire DemoSection state machine with phase transitions
  site/app/globals.css
  site/components/DemoSection.tsx
Due: none

refactor(site): remove old demo components and typed.js dependency
  site/components/Terminal.tsx
  site/lib/demo-data.ts
  site/lib/tree-data.ts
  site/package-lock.json
  site/package.json
Due: prettier

fix(site): fix sidebar comment wrapping in Explorer
  site/components/Explorer.tsx
  site/components/FileTree.tsx
Due: none

feat: add corporate-advisor profile with 6 workplace strategy skills
  profiles.yml
Due: prettier

Add RAID+LUKS install guide and linux_sysadmin dispatcher
  profiles.yml
Due: prettier

Add NestJS common patterns and dispatch rules for subagents
  profiles.yml
Due: prettier

fix(context): update rules submodule — multi-repo PR search
  profiles.yml
Due: prettier

refactor: remove bug_diagnose and core_debugging — consolidate into core_debugger
  .claude/commands/add-core-subagent.md
  profiles.yml
Due: prettier, prettier-markdown

fix: point core-debugger profile to bug/commands/diagnose.md
  profiles.yml
Due: prettier

feat: add environment broken safeguard — prevent core_engineer docker loops
  profiles.yml
Due: prettier

feat: migrate QA agent from Playwright MCP to playwright-cli
  profiles.yml
Due: prettier

refactor: rename profile files back to recipe (git mv)
  .claude/ruly-recipes-mcp-patterns.md
  docs/plans/2026-02-25-recipe-extends.md
  lib/ruly/services.rb
  lib/ruly/services/recipe_introspector.rb
  lib/ruly/services/recipe_loader.rb
  recipes.yml
  spec/ruly/cli_agent_recipes_spec.rb
  spec/ruly/cli_recipe_explicit_keys_spec.rb
  spec/ruly/cli_recipe_extends_spec.rb
  spec/ruly/cli_recipe_tags_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: add awesomer GitHub Pages deploy to local recipe
  recipes.yml
Due: prettier

fix: include requires/commands/skills in recipe token counts
  lib/ruly/operations/stats.rb
  spec/ruly/operations/stats_spec.rb
Due: rubocop, rspec

fix: worktree provisioning — smarter branch lock and correct Docker names
  docs/plans/2026-03-12-worktree-branch-lock-fix.md
Due: prettier-markdown

feat(qa): dynamic credentials + remove playwright MCP from all recipes
  .claude/ruly-recipes-mcp-patterns.md
  recipes.yml
Due: prettier, prettier-markdown

fix(stats): accurate token counts + remove Mattermost integration
  README.md
  TODO.md
  lib/ruly/operations/stats.rb
  recipes.yml
  spec/ruly/cli_mcp_spec.rb
  spec/ruly/operations/stats_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: verify-merge-compatibility script + stats output to rules/
  lib/ruly/cli.rb
Due: rubocop

fix: don't leak model directive into CLAUDE.local.md
  lib/ruly/services/frontmatter_parser.rb
  lib/ruly/services/script_manager.rb
Due: rubocop

fix: remove Ref and task-master-ai MCP servers from all recipes
  .claude/ruly-recipes-mcp-patterns.md
  README.md
  recipes.yml
  site/lib/generate-demo-data.ts
  spec/ruly/cli_mcp_spec.rb
  spec/ruly/cli_recipe_extends_spec.rb
Due: prettier, prettier-markdown, rubocop, rspec

feat: write recipe model to settings.local.json on squash
  lib/ruly/services/settings_manager.rb
  recipes.yml
  spec/ruly/settings_manager_spec.rb
Due: prettier, rubocop, rspec

refactor: move local recipe infrastructure to skills + update paths
  recipes.yml
Due: prettier

feat: set core-debugger and core-engineer to model opus
  recipes.yml
Due: prettier

chore: remove docs/plans from repo, keep locally via gitignore
  .gitignore
  docs/plans/2026-02-09-mattermost-mcp-fork-and-comms.md
  docs/plans/2026-02-10-core-dispatcher-architecture.md
  docs/plans/2026-02-11-pr-reviewer-skill.md
  docs/plans/2026-02-11-squash-verbose-output.md
  docs/plans/2026-02-12-deduplicate-debugging-rules.md
  docs/plans/2026-02-12-frontend-orchestrator-recipe.md
  docs/plans/2026-02-12-pr-readiness-chart.md
  docs/plans/2026-02-16-qa-recipe.md
  docs/plans/2026-02-17-fathom-transcript-fetcher.md
  docs/plans/2026-02-17-ready-or-not-marketplace-action.md
  docs/plans/2026-02-17-sandbox-testing-environment.md
  docs/plans/2026-02-18-orchestrator-direct-dispatch.md
  docs/plans/2026-02-19-agent-frontmatter-skills-mcpservers.md
  docs/plans/2026-02-20-dispatch-validation-and-context-grabber-split.md
  docs/plans/2026-02-20-skills-based-engineer-design.md
  docs/plans/2026-02-23-explicit-recipe-keys-for-skills-commands-bins.md
  docs/plans/2026-02-23-qa-recipe-live-testing.md
  docs/plans/2026-02-23-sdd-review-loop-for-engineer-dispatch.md
  docs/plans/2026-02-23-terminology-revamp-design.md
  docs/plans/2026-02-24-core-recipe-slim-down-plan.md
  docs/plans/2026-02-24-core-recipe-slim-down.md
  docs/plans/2026-02-24-pr-review-loop-orchestrator-skill.md
  docs/plans/2026-02-24-skill-requires-deduplication.md
  docs/plans/2026-02-25-recipe-extends.md
  docs/plans/2026-03-12-worktree-branch-lock-fix.md
Due: prettier-markdown

feat: add YAML key sorting with yalphabetize + lefthook hook
  .yalphabetize.yml
  Gemfile
  Gemfile.lock
  lefthook.yml
  recipes.yml
Due: prettier

feat: add core-solo recipe + move superpowers to skills in core-engineer
  recipes.yml
Due: prettier

feat: add isolate support to SettingsManager for claudeMdExcludes
  lib/ruly/services/settings_manager.rb
  spec/ruly/settings_manager_spec.rb
Due: rubocop, rspec

refactor: replace 3 comms recipes with unified comms recipe
  recipes.yml
Due: prettier

feat: enable isolate on orchestrator and core-solo recipes
  recipes.yml
Due: prettier

refactor: update parent recipes to use unified comms subagent
  recipes.yml
Due: prettier
