Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-markdown:
  run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec {staged_files}

Fix submodule: Convert rules directory from tracked files to proper git submodule
  rules/bug/common.md
  rules/commands.md
  rules/commands/bug/diagnose.md
  rules/commands/bug/fix.md
  rules/commands/debug/grpc.md
  rules/commands/pr/create-branch.md
  rules/commands/pr/create.md
  rules/commands/pr/resolve-outdated-comments.md
  rules/commands/pr/review-feedback-loop.md
  rules/commands/testing/pre-commit.md
  rules/commands/testing/require.md
  rules/commands/workflow/confluence-proposal.md
  rules/commands/workflow/just-do-it.md
  rules/core/debugging.md
  rules/core/policies.md
  rules/core/rspec-debugging-guide.md
  rules/core/rspec-sequel.md
  rules/core/specs.md
  rules/pr/common.md
  rules/pr/pr-comment-resolution.md
  rules/pr/pr-creation.md
  rules/ruby/common.md
  rules/ruby/monads.md
  rules/ruby/rspec.md
  rules/ruby/ruby-practices.md
  rules/ruby/sequel.md
  rules/testing/common.md
Due: prettier-markdown

Add TOC functionality to squash command
  lib/ruly/cli.rb
Due: rubocop

feat: Convert Ruly from gem to standalone app with curl installation
  Gemfile
  Gemfile.lock
  README.md
  lib/ruly/cli.rb
  setup.rb
Due: prettier-markdown, rubocop

feat: Add TOC generation with unique anchors and deepclean option
  README.md
  lib/ruly/cli.rb
  setup.rb
Due: prettier-markdown, rubocop

chore: Update .gitignore to include local-only directories and submodules
  .gitignore
  .gitmodules
Due: none

fix: Update clean command to always remove .claude directory and fix deepclean
  CLAUDE.md
  lib/ruly/cli.rb
Due: prettier-markdown, rubocop

feat: Add command to extract inline bash snippets from markdown to reusable scripts
  commands/snippets-to-scripts.md
Due: prettier-markdown

feat: Enhance snippets-to-scripts command with improved documentation and extraction paths
  commands/snippets-to-scripts.md
Due: prettier-markdown

feat: Update installation paths to use .ruly/bin and enhance bin file handling
  commands/snippets-to-scripts.md
  lib/ruly/cli.rb
  spec/cli_bin_files_spec.rb
Due: prettier-markdown, rubocop

feat: Implement requires feature for markdown files to manage dependencies
  commands/diagnose-bug.md
  lib/ruly/cli.rb
  spec/ruly/cli_requires_spec.rb
Due: prettier-markdown, rubocop, rspec

feat: Add temporary rake task for data fixes with operation, spec, and options
  workaxle/commands/core/tmp_task.md
Due: prettier-markdown

feat: Add temporary rake task for data fixes with operation, spec, and options
  lib/ruly/cli.rb
  spec/ruly/cli_shell_gpt_spec.rb
Due: rubocop, rspec

feat: Update documentation to reflect changes from 'debug/' to 'tmp/' directory for debug scripts
  commands/diagnose-bug.md
Due: prettier-markdown

feat: Enhance local file handling in CLI for path normalization and deduplication
  lib/ruly/cli.rb
  spec/ruly/cli_requires_dedup_spec.rb
Due: rubocop, rspec

feat: Add initial TODO list for Ruly features and context switching workflow
  TODO.md
Due: prettier-markdown

feat: Enhance CLI to support introspection of local directories and GitHub sources for recipe creation
  lib/ruly/cli.rb
Due: rubocop

feat: Enhance YAML configuration output by removing quotes from specific file paths
  lib/ruly/cli.rb
Due: rubocop

feat: Enhance CLI output to distinguish between required sources and local files
  lib/ruly/cli.rb
Due: rubocop

feat: Add introspection command to analyze markdown files and display dependencies
  README.md
Due: prettier-markdown

feat: Update recipes.yml structure to include new development environment and testing rules
  README.md
Due: prettier-markdown

feat: Add MCP server configuration support from ~/.config/ruly/mcp.json
  lib/ruly/cli.rb
  workaxle/commands/core/tmp_task.md
Due: prettier-markdown, rubocop

feat: Update MCP settings output format based on agent type
  .gitignore
  lib/ruly/cli.rb
Due: rubocop

fix: Always create .mcp.json for Claude agent even when no MCP servers configured
  lib/ruly/cli.rb
Due: rubocop

normalize agent aliases to handle "claude-code" variations
  lib/ruly/cli.rb
Due: rubocop

feat: Display token count in CLI output for file processing steps
  lib/ruly/cli.rb
Due: rubocop

Enhance command path extraction logic in CLI
  lib/ruly/cli.rb
Due: rubocop

Path conditions:
  prettier: any of: *.{yml,yaml,json}
  prettier-markdown: any of: *.md
  rubocop: any of: *.{rb,rake}
  rspec: any of: spec/**/*_spec.rb
