Repository patrickclery/ruly: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-markdown, rubocop, rspec

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: "*.{yml,yaml,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    prettier-markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files} && npx markdown-table-prettify {staged_files}
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --autocorrect-all --force-exclusion {staged_files}
      stage_fixed: true

    rspec:
      glob: "spec/**/*_spec.rb"
      run: bundle exec rspec {staged_files}

chore: update rules submodule and add change-proposals to comms recipe
  recipes.yml
Due: prettier

docs: add subagents documentation and dashboard recipe
  README.md
  recipes.yml
Due: prettier, prettier-markdown

chore: update rules submodule and dashboard recipe
  recipes.yml
Due: prettier

chore: update rules submodule and fix context-fetcher path
  recipes.yml
Due: prettier

chore: add use-context-fetcher to dashboard recipe
  recipes.yml
Due: prettier

feat: preserve Claude Code directives in command frontmatter
  lib/ruly/cli.rb
  recipes.yml
Due: prettier, rubocop

feat: add safeguard to prevent squash in $HOME directory
  lib/ruly/cli.rb
Due: rubocop

feat: add command-to-subagent skill and ms-teams-dm subagent support
  .claude/ruly/skills/command-to-subagent.md
  README.md
  recipes.yml
Due: prettier, prettier-markdown

feat: add jira-comment subagent recipe
  recipes.yml
Due: prettier

feat: add 5 Jira subagent recipes
  recipes.yml
Due: prettier

feat: add auth0 recipe
  recipes.yml
Due: prettier

refactor: move command-to-subagent skill to directory structure
  .claude/ruly/skills/command-to-subagent/SKILL.md
Due: prettier-markdown

docs: add rule to check references when moving/deleting rules
  CLAUDE.md
Due: prettier-markdown

fix: skill file structure and document convention
  CLAUDE.md
Due: prettier-markdown

docs: add directives/skill-commands feature to TODO
  TODO.md
Due: prettier-markdown

feat: add mermaid rule and rebase-and-squash skill
  CLAUDE.md
  recipes.yml
Due: prettier, prettier-markdown

docs: add rule to update README when CLI commands change
  CLAUDE.md
Due: prettier-markdown

feat: add circular dependency detection to ruly stats
  lib/ruly/operations/stats.rb
  recipes.yml
  spec/ruly/operations/stats_spec.rb
Due: prettier, rubocop, rspec

refactor: remove unnecessary empty mcp_servers arrays
  recipes.yml
Due: prettier

refactor: rename hooks to bin, add requires_shell_command pattern
  README.md
  recipes.yml
Due: prettier, prettier-markdown

refactor: simplify review recipe to essential files
  recipes.yml
Due: prettier

fix: resolve stale file references and update rules submodule
  recipes.yml
Due: prettier

feat: add context cache invalidation system
  recipes.yml
Due: prettier

feat: add Mattermost DM integration via forked MCP server
  README.md
  docs/plans/2026-02-09-mattermost-mcp-fork-and-comms.md
  recipes.yml
Due: prettier, prettier-markdown

chore: add superpowers as git submodule (ignore=all)
  .gitmodules
Due: none

feat: replace core recipe with comprehensive TDD subagent recipe
  recipes.yml
Due: prettier

feat: add code_core subagent to orchestrator recipe
  recipes.yml
Due: prettier

feat: add bug-diagnose subagent recipe with systematic-debugging
  recipes.yml
Due: prettier
